## Observations and Insights

In [195]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np 
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_df= pd.merge(mouse_metadata,study_results,on="Mouse ID")
# Display the data table for preview
combined_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [196]:
# Checking the number of mice.
number_of_mice = combined_df["Mouse ID"].count()
number_of_mice

1893

In [197]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouse_id_timepoint= combined_df[["Mouse ID","Timepoint"]]

getting_duplicate = mouse_id_timepoint[mouse_id_timepoint['Mouse ID'].duplicated() == True]
# getting_duplicate=combined_df[combined_df.duplicated(keep=False)]
getting_duplicate.head()

  Mouse ID  Timepoint
1     k403          5
2     k403         10
3     k403         15
4     k403         20
5     k403         25

In [198]:
# Optional: Get all the data for the duplicate mouse ID. 

all_the_dublicate_mouse=combined_df[combined_df[['Mouse ID']].duplicated() == True]
all_the_dublicate_mouse.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1

In [222]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = combined_df.drop_duplicates(subset='Mouse ID')
clean_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0

In [200]:
# Checking the number of mice in the clean DataFrame.
clean_number_of_mice = clean_df["Mouse ID"].count()
clean_number_of_mice

249

## Summary Statistics

In [201]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
regimen_group= clean_df.groupby("Drug Regimen")
tumor_mean=regimen_group["Tumor Volume (mm3)"].mean()
tumor_median = regimen_group["Tumor Volume (mm3)"].median()
tumor_variance =regimen_group["Tumor Volume (mm3)"].var()
tumor_sd= regimen_group["Tumor Volume (mm3)"].std()
tumor_sem= regimen_group["Tumor Volume (mm3)"].sem()

In [202]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
summary_statistics_df= pd.DataFrame({"Tumor volume mean":tumor_mean,
"Tumor volume median":tumor_median,
"Tumor volume variance":tumor_variance,
"Tumor volume STD":tumor_sd,
"Tumor volume SEM":tumor_sem})
summary_statistics_df.head()

# Using the aggregation method, produce the same summary statistics in a single line
sammary_single_line=clean_df.groupby('Drug Regimen')['Tumor Volume (mm3)'].agg(Tumor_volume_mean='mean', Tumor_volume_median='median',Tumor_volume_variance='var',Tumor_volume_STD='std',Tumor_volume_SEM='sem')
sammary_single_line.head()

,Tumor_volume_mean,Tumor_volume_median,Tumor_volume_variance,Tumor_volume_STD,Tumor_volume_SEM
Drug Regimen,,,,,
Capomulin,45.0,45.0,0.0,0.0,0.0
Ceftamin,45.0,45.0,0.0,0.0,0.0
Infubinol,45.0,45.0,0.0,0.0,0.0
Ketapril,45.0,45.0,0.0,0.0,0.0
Naftisol,45.0,45.0,0.0,0.0,0.0

## Bar and Pie Charts

In [218]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.
regimen_group= clean_df.groupby("Drug Regimen")
total_of_mesaurement = regimen_group[""]
# drug_regimen_chart=

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [204]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [205]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [206]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [207]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [208]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [209]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [210]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [211]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [212]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen